@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>🫡 Welcome to BigOven</h1>
<p class="lead">Find and share everyday cooking inspiration on BigOven. Discover recipes, cooks, videos, and how-tos based on the food you love.</p>
<p class="lead">
    <a href="https://github.com/ZiadMansourM/sk-big-oven-razor" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
</p>
