<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a temp project">
    <meta name="author" content="Ziad Mansour Mohamed SREboy.com">
    <title>BigOven - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frontend.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-center text-white">
    <div class="container d-flex flex-column min-vh-100 p-3">
        <header class="mb-4">
            <div class="row">
                <div class="col text-start">
                    <h3>👨‍🍳 BigOven</h3>
                </div>
                <div class="col">
                    <nav class="nav nav-masthead justify-content-end">
                        <a class="nav-link @if(@ViewData["Title"]!.ToString() == "Home") {<text>active</text>}" asp-area="" asp-page="/Index">Home</a>
                        <a class="nav-link @if(@ViewData["Title"]!.ToString() == "Recipes") {<text>active</text>}" asp-area="" asp-page="/Recipes">Recipes</a>
                        <a class="nav-link @if(@ViewData["Title"]!.ToString() == "Categories") {<text>active</text>}" asp-area="" asp-page="/Categories">Categories</a>
                    </nav>
                </div>
            </div>
        </header>

        <main role="main" class="px-3 my-auto">
            @RenderBody()
        </main>

        <footer class="text-white-50">
            <p>&copy; 2022 <a href="https://www.SREboy.com/" class="text-white link">SREboy.com</a></p>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>